* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    margin: 20px auto;
    color: #fff;
}
.campo {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.campo label {
    font-size: 20px;
    color: #333;
    margin-bottom: 4px;
}
.fundo {
    place-items: center;
    background-image: url("/Fundogeral.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, sans-serif;
    animation: iniciar 1s ease-out;
    pointer-events: all;
}

h1 {
    font-size: 40px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 24px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
    width: 100%;
}

.label-float {
    font-size: large;
}
.accordion-menu {
    width: 100%;
    max-width: 350px;
    margin: 60px auto 20px;
    background: #fff;
    border-radius: 4px;
}
.accordion-menu li.open .dropdownlink {
    color: #CDDC39;
    .fa-chevron-down {
      transform: rotate(180deg);
    }
}
.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}

.dropdown-select {
    width: 100%;
    padding: 1.5rem 1.25rem; 
    border: 1px solid #ccc;
    color: #999;
    margin-top: 20px;
    border-radius: 0.25rem;
    font-size: 20px;
    box-sizing: border-box; 
    appearance: none; 
    background-color: white; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23999"/></svg>'); /* Adiciona uma seta personalizada */
    background-repeat: no-repeat; 
    background-position: right 1rem center;
}

.dropdown-select:focus {
    border-color: #464747; 
    outline: none; 
}

.dropdown-select option {
    font-size: 20px; 
    color:#0c0c0c ;
}
.dropdownlink {
    width: 100%;
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 45px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    color: #212121;
    position: relative;
    transition: all 0.4s ease-out;
    i {
      position: absolute;
      top: 17px;
      left: 16px;
    }
    .fa-chevron-down {
      right: 12px;
      left: auto;
    }
}
  
.submenuItems {
    display: none;
    background: #C8E6C9;
    li {
      border-bottom: 1px solid #B6B6B6;
    }
}
  
.submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 45px;
    transition: all 0.4s ease-out;
    &:hover {
      background-color: #CDDC39;
      color: #fff;
    }
}

button {
    background-color: gray;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #504f4f;
    transform: scale(1.02);
}

@keyframes iniciar {
    0% {
      top: -40%;
      opacity: 0;
      pointer-events: none;
    }
    100% {
      top: 0%;
      opacity: 100%;
      pointer-events: all;
    }
}